body {
    background-color: rgb(238, 238, 238);
    font-family: Georgia, serif;
    position: relative
}

.card {
    background-color: rgb(255, 255, 255);
    position: absolute;
    margin: 0;
    padding: 0;
    width: min-content;
    overflow: hidden;
    border-radius: 0.5em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    position: relative;
}

a {
    background-color: rgb(0, 153, 0);
    text-decoration: none;
    color: white;
    border-radius: 0.2em;
    padding: 0.4em 0.6em;
    position: absolute;
    bottom: 2em;
    right: 2em;
}

div:nth-child(2) {
    padding: 0 2em 4em;
}