* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    padding: 2em;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.gallery ul {
    display: flex;
    gap: 1em;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 50%;
    transform: translate( 50%, 0%);
    
}

.gallery li {
    display: flex;
    border: 0.6em solid black;
    flex: 0 0 250px;
    align-items: center;
    padding: 0.5em;
    box-shadow: 0 0 0.5em 0 black, 0 0 0.5em 0 black inset;
}

