* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div, section {
    display: flex;
}

span {
    border: 1px solid black;
    flex-grow: 1;
    display: block;
    padding: 2em;
    text-align: center;
    padding-bottom: 4.5em;

}

section {
    flex-wrap: wrap;
}

.container {
    max-width: 65vw;
    display: flex;
}

.title {
    flex: 1 0 100%;
}