body {
    font-family: Helvetica, sans-serif;
    padding: 4em;
}

header h1 {
    font-size: 3em;
}

nav {
    text-align: center;
}

nav > a {
    display: inline-block;
    position: relative;
    top: -3.5em;
    left: -25em;
    margin-left: 2.4em;
    color: rgb(17, 173, 17);
    font-weight: bold;
    text-decoration: none;
}

main {
    border-top: 2px solid black;
    font-size: 1em;
}